<?php
	define("WORKING_ROOT_DIR", __DIR__);
	define("PROJECT_ROOT_DIR", WORKING_ROOT_DIR);
	define("APPLICATION_ROOT_DIR", PROJECT_ROOT_DIR.'/applications/dcim');

	define("ROOT_DIR", WORKING_ROOT_DIR);
	define("APP_DIR", APPLICATION_ROOT_DIR);

	if(!isset($configurations))
	{
		$configurations = array(
			__DIR__ . '/configurations/dcim.json',
			__DIR__ . '/configurations/dcim.user.json',
		);
	}

	require_once(APP_DIR . '/launchers/dcim.php');
	$Launcher = new \App\Dcim\Launcher_Dcim();

	/**
	  * Change [DCIM_SERVER_KEY] with the key of your PatchManager server in configuration file
	  * Example: $MAIN = new Service_Dcim(__DIR__ . '/config.json', 'myPmKey');
	  */
	$SHELL = new \App\Dcim\Shell_Dcim($configurations, '[DCIM_SERVER_KEY]');

	echo PHP_EOL;
	exit();